extends layout

block content
    h1= title
    form(method="post")
        div.form-group
            label Email : 
            input(name="username", class="form-control", placeholder="Email", type="text", class="form-control")
        div.form-group
            label Password : 
            input(name="password", class="form-control", placeholder="Password", type="password", class="form-control")
        div.form-group
            input(type="submit", value="Log in", class="form-control")