extends layout

block content
    h1= title
    form(method="post")
        div.form-group
            input(name="username", class="form-control", placeholder="Username", type="text")
        div.form-group
            input(name="password", class="form-control", placeholder="Password", type="password")
        div.form-group
            input(type="submit", value="Log in")